*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
--primary-color: #F54F50;
--para-font-size: 18px;
}

.site-header{
  display: block;
  text-align: center;
  padding: 20px 0px ;
  background-color: var(--primary-color);
  color: #fff;
}