*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.site-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  
}

.site-header img{
  width: 100px;
}

.site-header h3 {
  font-family: fantasy;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.747);
}

.input-form{
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-top: 30px;
}

.input-form > input{
  padding: 9px 13px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.347);
  flex-grow: 1;
  min-width: 150px;
  max-width: 300px;
}

.input-form > button{
  padding: 9px 13px;
  border: 1px solid rgba(0, 0, 0, 0.347);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.918);
  border-radius: 6px;
cursor: pointer;

}